.footer {
    padding: 60px 10px 50px;
    background-color: var(--dark-nav);
    color: var(--white);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.social__item {
    width: 38px;
    transition: transform 0.3s ease-in;
}

.social__item:hover {
    transform: scale(1.1);
}

.social__item svg path {
    transition: all 0.5s ease-in;
}

.social__item:hover svg path{
    transition: all 0.3s ease-in;
    fill: var(--accent);
}

.copiright {
    font-size: 16px;
}

.copiright p + p {
    margin-top: 0.5em;
}